.nav{
    background: #FAFAFA;
    height: 36px;
}
.nav-top{
    width:1170px;
}
.nav-top li{
    float: left;
    margin-top: 10px;
    margin-right: 15px;
    opacity: .5;
}
.nav-right li{
    margin-right:0;
    margin-left: 15px;
    float: right;
    opacity: .5;
}
/*  */
.conter-top{
    margin-top: 20px;
}
.conter-top div{
    text-align: center;
}
.conter-top div p{
  font-size: 15px;
  margin-top: 10px;
}
.con-logo{
    margin: 20px 0px;
    float: left;
    margin-top: 10px;
}
.con-logo img{  
    margin-top: 29px;
}
.form-search{
    position: relative;
}
.form-search input:first-child{
    margin-right: 15px;
    width: 430px;
    height: 40px;
    text-indent: 15px;
}
.form-search input:nth-child(2){
    position: absolute;
    background: url("../images/fangdajing.png") no-repeat center center;
    width: 43px;
    height: 43px;
    box-sizing: content-box;
    border: none;
    border-left: 1px solid #A9A9A9;
    top:0;
    right: 143px;
    
}
.goumai-right{
    float: right;
    text-align: right;
    position: relative;
}
.goumai-right span{
    margin-bottom: 25px;
    display: inline-block;
    margin-top: 25px;
    opacity: .5;
}
.biao{
    position: absolute;
    top: 25px;
    right: 100px;
}
.form-search button{
     width: 125px;
     height: 43px;
     background: #FFDB3D;
     border: none;
}
/*  */
.con-nav-left{
    width: 250px;
    height: 50px;
    background: #FF4A00;
    position: relative;
}
.con-nav-left li:first-child{
    margin-left: 20px;
}
.con-nav{
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 1170px;
}
.con-nav li a,.con-nav-left li{ 
    font-size: 15px;
    display: inline-block;  
    margin-top: 15px;
}
.con-nav-rigtt{
    width: 920px;
    display: flex;
    justify-content: space-around;
    background: #404145;
    
}
.jiantou{
    position: absolute;
    display: inline-block;
    top: 4px;
    margin-left: 104px;
}
.con-nav-rigtt li a{
    color: #fff;
}

/*  */
.cont-top{
    margin-top: 35px;
   
}
.cont-top .left{
    float: left;
    height: 270px;
    width: 945px;
}
.cont-top .left img{
   width: 100%;
   height: 100%;
}
.cont-top .jf{
    box-sizing: border-box;
    padding: 25px 22px 15px;  
   float: right;
   width: 205px;
    border: 1px solid rgb(207, 204, 204);
   height: 270px;
}
.cont-top .jf h4{
    font-size: 16px;
    margin-bottom: 10px;
}
.jf input,.jf select,.jf button{
    width: 155px;
    height: 40px;
    border: 1px solid rgb(199, 199, 199);
    margin-bottom: 30px;
    opacity: .7;
}
.jf select{
    margin-bottom: 15px;
}
.jf p{
    opacity: .8;
    font-size: 13px;
    margin-bottom: 15px;
}
.jf span{
    font-size: 16px; 
}
/*  */
/* .cont-heyue .left{
    border: 1px solid rgb(199, 199, 199); 
} */
.cont-heyue .left{
    float: left;
    width: 945px;
   margin-top: 20px;
    border: 1px solid rgb(199, 199, 199);  
}
.left-top{
   
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.left-one{
    padding: 20px 0 0;
    text-align: center;
   width:236.25px;
   height: 110px;
   border-bottom:  1px solid rgb(199, 199, 199);
}
.left-one:not(:last-child){
    border-right: 1px solid rgb(199, 199, 199); 
}
.left-one p{
    font-size: 16px;
}
.con-shouji div p{
    font-size: 15px;
    margin-top: 3px;
}
.dianxin{
    margin-left: 45px;
    width: 47px;
    height: 21px;
    color: #fff;
    background: #84CBF5;
}
.yidong{
    margin-left: 45px;
    width: 47px;
    height: 21px;
    color: #fff;
    background: #00559A;
}
.liantong{
    margin-left: 45px;
    width: 47px;
    height: 21px;
    color: #fff;
    background: #DF0100;
}
.con-shouji div img{
    margin-bottom: 15px;
    width: 144px;
    height: 144px;
}
/*  */
.right-ma{ 
    margin-top: 20px;
    float: right;
    width: 205px;
    height: 270px;
}
.right-ma-1{
    border: 1px solid rgb(199, 199, 199); 
    padding: 20px 22px 15px;  
    margin-bottom: 25px;
}
.right-ma-1 img{
    width: 155px;
    height: 155px;
}
.right-ma-1 p{
    font-size: 16px;
    margin-bottom: 10px;
}
/*  */
.con-shouji{
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
}
.con-shouji div{
    text-align: center;
}
.con-shouji-2{
    margin-top: 130px;
    margin-bottom: 70px;
}
/*  */
.footer{
    margin-top: 80px;
    background: #FAFAFA;
}
.footer-text{
    display: inline-block;
    width: 950px;
    height: 175px;
   
}
.footer-text-1{
    width: 175px;
    border-right: 1px solid #A9A9A9;
}
.footer-text-1{
    font-size: 14px;
   margin-top: 30px;
    height: 110px;  
}
.footer-text-1 p{
    margin-top: 10px;
}
.text-right{
    text-align: center;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}
.text-right h2{
    font-size: 20px;
}
.text-right p{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.text-right button{
    width: 120px;
    height: 30px;
    border: none;
    background: #FF4A00;
    color: #fff;
}
.footer-one{
    margin-top: 20px;
    border-top: 1px solid #A9A9A9;
    border-bottom: 1px solid #A9A9A9;
  width: 100%;
   
}
.footer-bottom{
    position: relative;
    margin-top: 25px;
    text-align: center;
}
.footer-bottom img{
    margin-right: 250px;
    margin-bottom: 20px;
}
.footer-bottom select{
    position: absolute;
    width: 230px;
    height: 40px;
    text-indent: 10px;
    top: 68px;
    left: 555px;
}
.footer-bottom p{
    margin-top: 10px;
    margin-bottom: 35px;
}

